label{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
  }
  .new-tweet {
    border-radius: 5px;
    background-color: #eee;
    border:solid 1px #bebebe;
    margin: 2em;
    padding: 5px;
  }
  #tweet-text{
    resize: none;
    width: 95%;
    height: 100px;
    padding: 2%;
    margin: 4% 2% 0.25% 2%

  }
  
   .counter{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    font-family: 'Bungee', cursive;
  } 
  /* .red{
    color: red;
  }*/
  button{
    border: none;
    background-color: #4056A1;
    color: #FFFFFF;
    /* font-family: 'Bungee', cursive; */
  }
  .new-tweet-button-container{
      display: flex;
      justify-content: space-between;

  }
  .new-tweet hr{
      margin: 0.5em;
      width:95%;
      border-bottom: solid 2px;
}

.tweet-container{
  border-radius: 15px;
    background-color: #eee;
    border:solid 2px #bebebe;
    margin: 2em;
    padding: 2px;
    width: 100%;
    position: relative;
    right: 70px;
    justify-content: left;
}

#new-tweet-text{
  resize: none;
width: 95%;
height: 100px;
padding: 1%;
margin: 4% 2% 0.25% 2%;

}